

@import '../../../_common/styles/common.scss';

.frame1 {
	// opacity: 1;
}

.frame1 {
	
	.player_tackle{
		// @include pos(120, 170);
		@include pos(80, 100);
	}

	.player_qb_ball{
		transform-origin: 23px 44px;
		@include pos-scale-rotate(0, 0, 1, 20);
	}

	.player_qb_arm{
		transform-origin: 70px 29px;
		@include pos-scale-rotate(0, 0, 1, 7);
	}
	
	.a1{
		@include pos-scale(0, 0, .5);
		// @include pos-scale(77, 0, .5);
	}

	
}

.text{
		opacity:0;
	}



#banner{
	font-size: 20px;
	color: #333;
	width: 320px;
	height: 50px;
}

.phone{
	@include pos-scale(0, 90, .5);
}

.phone_scribble{
		transform-origin: 97px 100%;
	}

#legalBtn{	
	// opacity: 1;
	@include pos(7, 43);
}
