<div id="banner">
	<div class="outline"></div>
	<img class="bg" src="./images/bg.jpg" alt="" inline>
	<div class="frame frame1">
		
		<img class="retina bg_proline" src="./images/bg_proline.png" inline>


		<img class="retina logo" src="./images/logo.png" inline>

		<img class="player_qb" src="./images/player_qb.png" inline>
		<img class="player_qb_ball" src="./images/player_qb_ball.png" inline>
		<img class="player_qb_arm" src="./images/player_qb_arm.png" inline>

		<img class="player_tackle" src="./images/player_tackle.png" inline>

		
		<img class="retina text a1" src="./images/a1.png" inline>
		<img class="retina text a1" src="./images/a2.png" inline>
		<img class="retina text a2" src="./images/a3.png" inline>
		<img class="retina text a2" src="./images/a4.png" inline>
		<img class="retina text a3" src="./images/a5.png" inline>
		<img class="retina text a3" src="./images/a6.png" inline>
		<img class="retina text a4" src="./images/a7.png" inline>
		<img class="retina text a4" src="./images/a8.png" inline>

	</div>
	<div class="frame frame2">
		<img class="retina text b b1" src="./images/b1.png" inline>
		<img class="retina text b b1" src="./images/b2.png" inline>
		<img class="retina text b b1" src="./images/b3.png" inline>
		<img class="retina text b b2" src="./images/b4.png" inline>
		<img class="retina text b b2" src="./images/b5.png" inline>
		<img class="retina text b b2" src="./images/b6.png" inline>

		<img class="retina cta_wager" src="./images/cta_wager.png" inline>
		<img class="retina cta_odds" src="./images/cta_odds.png" inline>
		

		<img class="phone_scribble" src="./images/phone_scribble.png" inline>
		<img class="retina phone" src="./images/phone.png" inline>

		<img class="retina footer" src="./images/footer.png" inline>
		<% include ../_common/templates/legal %>
	</div>
</div>