

@import '../../../_common/styles/common.scss';

.frame2{
	// opacity: 1;
}

.frame1 {
	
	.player_tackle{
		// @include pos(120, 170);
		@include pos(180, 40);
	}

	.player_qb_ball{
		transform-origin: 50px 85px;
		@include pos-scale-rotate(0, 0, 1, 20);
	}

	.player_qb_arm{
		transform-origin: 160px 60px;
		@include pos-scale-rotate(0, 0, 1, 7);
	}


	
}

.text{
		opacity:0;
	}



#banner{
	font-size: 20px;
	color: #333;
	width: 300px;
	height: 250px;
}

.phone_scribble{
		transform-origin: 50% 100%;
	}

#legalBtn{	
	@include pos(7, 198);
}


.phone{
	@include pos-scale(0, 110, .5);
}